{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Livro Mindset 1%</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'core/favicon-96x96.png' %}"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'core/libraries/fontawesome-free-5.15.2-web/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/home.css' %}?{% now 'U' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container">
        <section>
            <div>
                <h1 class="headline">APENAS 1% DAS PESSOAS SABE DISSO</h1>
                <p><!-- <i>e por isso apenas 1% alcanca a maioria de seus sonhos...</i><br> -->Aprenda os segredos praticados por 1% das pessoas que o fará realizar A MAIORIA dos seus sonhos nos próximos 5 anos.</p>
                <div class="image-container"><img src="{% static 'core/images/1653236931.png' %}"></div>
                <a class="cta">QUERO REALIZAR MEUS SONHOS AINDA JOVEM</a>
            </div>
        </section>
        <section>
            <div>
                <h2 class="sub-headline">ALGUMAS COISAS QUE IRA APRENDER NESTE LIVRO</h2>
                <div class="features">
                    <div class="feature">
                        <i class="fal fa-check"></i>
                        <div>O que fez com indivíduos como Lionel Messi, Mozart, Bill Gates se tornassem "Outliers", conceito apresentado por Malcom Gladwell, e como qualquer pessoa pode também se tornar fora de série em dez mil horas (ou bem menos)</div>
                    </div>
                    <div class="feature">
                        <i class="fal fa-check"></i>
                        <div>Como se tornar melhor que 71% das pessoas na maioria das áreas e começar a ganhar dinheiro fazendo algo que gosta entre as próximas 100 e 500 horas ou 1 a 6 meses de pratica deliberada. E como eu usei esse conceito para aprender a programar usando o Youtube para ganhar meus primeiros dólares em casa quando tinha 20 anos de idade</div>
                    </div>
                    <div class="feature">
                        <i class="fal fa-check"></i>
                        <div>A diferença entre um mindset de crescimento e um mindset fixo apresentados pela autora Carol Dweck. E como o Fábio Paim que na adolescência era considerado melhor do que Cristiano até mesmo pelo próprio, arruinou a sua carreira devido a um mindset fixo</div>
                    </div>
                    <div class="feature">
                        <i class="fal fa-check"></i>
                        <div>Porque o dom de Beethoven e da maioria dos seus ídolos são superestimados e como você pode desenvolver o dom por meio da pratica deliberada apresentada pelo autor Anders Ericsson</div>
                    </div>
                    <div class="feature">
                        <i class="fal fa-check"></i>
                        <div>Como observei @mentedesucessoo me superar e ganhar 2,9 milhões de seguidores em menos de 5 anos através da constância e ação massiva e como você deve ser aplicar isso para ter resultados estrondosos rapidamente</div>
                    </div>
                    <div class="feature">
                        <i class="fal fa-check"></i>
                        <div>Como a Team Sky, Thiago Finch e Cristiano Ronaldo usaram a constante e obcecada melhoria em 1% para se tornarem Outliers</div>
                    </div>
                    <div class="feature">
                        <i class="fal fa-check"></i>
                        <div>Como fazer bons hábitos se tornarem parte de sua identidade e como eu usei isso para tomar somente banhos gelados todos os dias, durante um ano inteiro, mesmo tendo um background de temor a água fria</div>
                    </div>
                    <div class="feature">
                        <i class="fal fa-check"></i>
                        <div>Como Kobe Bryant foi de um jogador que não era capaz de marcar um ponto sequer, numa temporada inteira de basquetebol, para em menos de cinco anos, se tornar o melhor jogador de basquete do Estado e depois do mundo, aplicando diversos conceitos como a prática deliberada, a lei de Pareto, o essencialismo, e a regra das horas, e como você pode fazer o mesmo para superar pelo menos 99% das pessoas na maioria das coisas que você quiser</div>
                    </div>
                    <div class="feature">
                        <i class="fal fa-check"></i>
                        <div>Como David Goggins, mesmo tendo uma infância totalmente desgraçada sofrendo com a perversão de seu pai e o racismo e bullying na escola, quebrou vários recordes tanto na forças especiais americanas como nas mais difíceis ultramaratonas do planeta, no esporte e ainda na literatura, alcançando 100x mais do que a maioria das pessoas consegue, quando tinha 100x mais desculpas e, como você pode vencer as desculpas que sua mente inventa para você todos os dias e se tornar um Outlier</div>
                    </div>
                    <a class="cta square">QUERO REALIZAR MEUS SONHOS AINDA JOVEM</a>
                </div>
            </div>
        </section>
        <section>
            <div>
                <h2 class="sub-headline">PORQUE LER ESTE LIVRO</h2>
                <p>Desde pequeno um dos meus maiores sonhos se calhar, seja o seu também, sempre foi poder ser livre. Morar onde desejasse, fazendo o que me desse vontade e quando eu quisesse. Mas até um pré-adolescente já tem noção suficiente da vida para saber que as coisas não parecem ser tão simples.</p> 
                <p>Somos obrigados a estudar durante as primeiras duas ou três décadas das nossas vidas por sinal, as melhores, para sermos “empregáveis” para aí fazermos dinheiro suficiente para sobrevivermos as décadas restantes. E quem sabe termos a sorte de vivermos a partir da sexta década em diante livres, isso se tivermos juntado dinheiro suficiente e realizado, bons investimentos durante a vida. </p>
                <p>Bom, andei pesquisando e não é isso que tem acontecido com a maioria das pessoas, até mesmo as que vivem em países de primeiro mundo. A maioria dos aposentados é financeiramente dependente. Mas supondo que conseguíssemos essa façanha, por que realizar nossos sonhos somente quando nos aposentarmos quando não mais dispormos da energia que tínhamos quando jovens? Essa opção não faz muito sentido porque: 
                <ol>
                <li>Nós passamos por várias fases durante a vida e em cada fase temos uma mentalidade diferente. Ou você ainda adora brincar de carrinhos e boneco(as)? Em cada fase da vida estamos pré dispostos a valorizar determinadas coisas mais que as outras. Então há várias possibilidades que dependendo da natureza do seu sonho atual não mais tenha vontade de persegui-lo quando passar da meia-idade por falta de compatibilidade do sonho com a fase de vida.</li>
                <li>Existem sonhos com prazo de validade como o clássico sonho de ser jogador de futebol. Quanto mais velho se fica, mais complicado se torna realizar sonhos que tenham prazo.</li>
                <li>Nenhum ser humano pode prever o futuro. Ninguém sabe o futuro estado do planeta nem até quando viverá.</li>
                <li>A medida que ficamos mais velhos e temos uma família as nossas obrigações e responsabilidades vão ficando maiores. Passamos a tomar riscos não só por nós, mas por eles também.</li>
                </ol>
                </p>
                <p>Essa ideia de adiar os sonhos não faz sentido. Sonhos têm que ser vividos o quanto antes e, devíamos fazer o possível para assim ser. 
                Não será fácil e pode significar uma das seguintes coisas:
                <ul>
                <li>- Trabalhar e investir com inteligência para conseguir aposentar-se cedo;</li>
                <li>- Achar um ofício que permita-o trabalhar de qualquer parte do mundo, a hora que quiser, com as folgas que desejar e de qual parte do globo desejar;</li>
                <li>- Ganhar dinheiro realizando seu sonho.</li>
                </ul>
                </p>
                <p>
                De qualquer forma, realizar sonhos não é uma tarefa fácil. Conseguir uma dessas façanhas requer que seja o 1%. Requer ser uma pessoa com uma mentalidade correta e hábitos e comportamentos que o levarão onde deseja. Não posso passar-lhe o caminho exato a seguir pois caminhos são vários, cada pessoa terá o seu e eu não conheço todos.</p> <p>Mas posso ajudar-lhe a ter a mentalidade correta para alcançar as suas metas de vida. Afinal, existe algo que todos as pessoas de sucesso têm em comum, por mais distintas suas áreas de atuação. Existe um padrão mental que se repete entre as pessoas que alcançam seus sonhos. E qualquer pessoa pode aprender esses padrões e aplicar na sua vida e é sobre isso que é esse livro.</p>
                <a class="cta">QUERO REALIZAR MEUS SONHOS AINDA JOVEM</a>
            </div>
        </section>
        <section>
            <div>
                <div class="old-price">De <span>R$124,90</span> por apenas:</div>
                <div class="new-price">R$49,90</div>
                <div>Oferta valida hoje</div>
                <a class="cta">QUERO APROVEITAR A OFERTA</a>
            </div>
        </section>
        <section>
            <div>
                <h2 class="sub-headline">QUEM DEVE LER ESTE LIVRO?</h2>
                <p>
                    Se você um atleta tentando obter sucesso no seu esporte, um artista tentando viver de sua arte, um empreendedor sonhando em obter a liberdade financeira, um profissional tentando alavancar a sua carreira, ou simplesmente uma pessoa comum almejando se aposentar antes dos trinta anos e viajar o mundo, este livro vai te ajudar a dar um salto quântico de mentalidade e consequentemente, de resultados. Após ler este livro você nunca mais terá a mesma mentalidade. Terá conhecimentos que lhe trarão alguma vantagem sobre 99% das pessoas em tudo o que você fizer. E note que em qualquer área, seja no esporte, nas finanças, no empreendedorismo, ter a mente correta é requisito para ter sucesso, e principalmente para mantê-lo por longos anos.
                </p>
            </div>
        </section>
        <section>
            <div>
                <img class="seal" src="{% static 'core/images/8.png' %}">
                <h2 class="sub-headline">7 DIAS DE GARANTIA</h2>
                <p>Você terá 7 dias para ler este livro e enxergar o valor que ele pode agregar a sua vida. Se não adorar o livro, te devolveremos 100% do valor investido sem burocracia.</p>
                <a class="cta">QUERO REALIZAR MEUS SONHOS AINDA JOVEM</a>
            </div>
        </section>
        <section>
            <div>
                <h2 class="sub-headline">SOBRE O AUTOR</h2>
                <p>Muitas pessoas esperam até terem 40 anos e Ph.D. para escreverem um livro. Bom, eu sempre fui um pouco impaciente. Escrevi meus primeiros dois livros quando tinha 17 e 19 anos, ganhei meus primeiros dólares numa idade precoce, comparando a 99% das pessoas a minha volta, e falhei minhas primeiras 3 empresas quando tinha 21 anos, idade em que já havia lido mais de 100 livros de tópicos como finanças pessoais, autoajuda, psicologia, empreendedorismo, etc.<br> 
                Há alguma chance que você já tenha lido alguma frase minha, pois, por dois anos administrei uma página chamada mentalidade_de_homem no Instagram e Facebook, onde partilhava conteúdo motivacional e de desenvolvimento pessoal. Recebi algumas mensagens de pessoas dizendo que transformei suas vidas, e isso me mostrou que talvez essa seja um dos caminhos para mim.<br>Sempre fui elogiado pelo meu mindset, e através dele consegui, mesmo sem muito apoio e condições, me tornar só um pouquinho acima da média (sejamos modestos) nas coisas em que me envolvi, não por que sou mentalmente dotado, mas por que tenho um "mindset de crescimento". Meu desejo é partilhar o máximo dele com as pessoas.</p>
                <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
                    <img class="mentalidade_de_homem" src="{% static 'core/images/50608381_403246077114645_2051587368635411037_n.jpg' %}">
                    <img class="mentalidade_de_homem" src="{% static 'core/images/129050380_735597120497506_8011784422297107789_n.jpg' %}">
                    <img class="mentalidade_de_homem" src="{% static 'core/images/42918497_485927001925673_6097806321211538560_n.jpg' %}">
                    <img class="mentalidade_de_homem" src="{% static 'core/images/258883861_126663459797205_1078341278119341018_n.jpg' %}">
                    <a class="cta square">QUERO REALIZAR MEUS SONHOS AINDA JOVEM</a>
                </div>
            </div>
        </section>
        <section>
            <div>
                <div>
                    <h2 class="sub-headline">PERGUNTAS FREQUENTES</h2>
                     <ul class="collapsible">
                        <li>
                          <div class="collapsible-header grey darken-4"><i class="material-icons">add</i>O livro é físico ou digital?</div>
                          <div class="collapsible-body grey darken-3"><span>O livro é digital, em formato PDF. Optamos por essa versão para tornar o acesso ao material mais rápido, dinâmico e com custo reduzido. </span></div>
                        </li>
                        <li>
                          <div class="collapsible-header grey darken-4"><i class="material-icons">add</i>Por quanto tempo eu terei acesso à este material?</div>
                          <div class="collapsible-body grey darken-3"><span>Você terá acesso vitalício ao material. Sempre que precisar poderá acessá-lo no ambiente da plataforma., mas também poderá baixar os arquivos em seu computador, ipad ou celular, para ler sempre que precisar.</span></div>
                        </li>
                        <li>
                          <div class="collapsible-header grey darken-4"><i class="material-icons">add</i>Eu não moro no Brasil, consigo adquirir o livro?</div>
                          <div class="collapsible-body grey darken-3"><span>Sim, você pode adquirir o livro sem problemas mesmo morando fora do Brasil.</span></div>
                        </li>
                      </ul>
                </div>    
            </div>
        </section>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems);
          });
    </script>
</html>
